* {
  margin: 3px;
  padding: 5px;
}

body {
  display:flexbox;
  justify-content: center;
  align-items: center;
}

fieldset {
  display: flexbox;
  align-items: center;
  justify-content: space-around;
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-color: white;
}

h3,h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
}

#botao{
  font-size: large;
  background-color:#e7e7e7;
  color: black;
  transition: 2s;
  background-color: #e7e7e7;
  position: relative;
  top: 5px;
  height: 35px;
  width: 75px;
  left: 40%;
}

form{
  width: 58vw;
  display: flexbox;
  justify-content: center;
  align-items: center;
  position: relative;
  top:0px;
  left: 20%;
}

#dados{
  display:flex;
  align-items: center;
}